CREATE TABLE `CATEGORIA` (
  `IDCATEGORIA` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `DESCRICAO` VARCHAR(20) COLLATE utf8_general_ci DEFAULT NULL,
  PRIMARY KEY USING BTREE (`IDCATEGORIA`)
) ENGINE=InnoDB
AUTO_INCREMENT=10 ROW_FORMAT=DYNAMIC CHARACTER SET 'utf8' COLLATE 'utf8_general_ci'
;