CREATE TABLE `ESTABELECIMENTO` (
  `IDESTABELECIMENTO` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `RAZAOSOCIAL` VARCHAR(100) COLLATE utf8_general_ci DEFAULT NULL,
  `NOMEFANTASIA` VARCHAR(100) COLLATE utf8_general_ci DEFAULT NULL,
  `CNPJ` VARCHAR(20) COLLATE utf8_general_ci DEFAULT NULL,
  `EMAIL` VARCHAR(80) COLLATE utf8_general_ci DEFAULT NULL,
  `ENDERECO` VARCHAR(100) COLLATE utf8_general_ci DEFAULT NULL,
  `CIDADE` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  `ESTADO` CHAR(2) COLLATE utf8_general_ci DEFAULT NULL,
  `TELEFONE` VARCHAR(20) COLLATE utf8_general_ci DEFAULT NULL,
  `DATACADASTRO` DATE DEFAULT NULL,
  `IDCATEGORIA` INTEGER(11) DEFAULT NULL,
  `STATUS` VARCHAR(7) COLLATE utf8_general_ci DEFAULT NULL,
  `AGENCIA` VARCHAR(5) COLLATE utf8_general_ci DEFAULT NULL,
  `CONTA` VARCHAR(15) COLLATE utf8_general_ci DEFAULT NULL,
  PRIMARY KEY USING BTREE (`IDESTABELECIMENTO`),
  KEY `ESTABELECIMENTO_FK1` USING BTREE (`IDCATEGORIA`),
  CONSTRAINT `ESTABELECIMENTO_FK1` FOREIGN KEY (`IDCATEGORIA`) REFERENCES `CATEGORIA` (`IDCATEGORIA`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB
AUTO_INCREMENT=80 ROW_FORMAT=DYNAMIC CHARACTER SET 'utf8' COLLATE 'utf8_general_ci'
;