CREATE TABLE `ESTADO` (
  `IDESTADO` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `CODIGOUF` INTEGER(11) NOT NULL,
  `NOME` VARCHAR(50) COLLATE utf8_general_ci NOT NULL,
  `UF` CHAR(2) COLLATE utf8_general_ci NOT NULL,
  `REGIAO` INTEGER(11) NOT NULL,
  PRIMARY KEY USING BTREE (`IDESTADO`)
) ENGINE=InnoDB
AUTO_INCREMENT=28 ROW_FORMAT=DYNAMIC CHARACTER SET 'utf8' COLLATE 'utf8_general_ci'
;