CREATE TABLE `MUNICIPIO` (
  `IDMUNICIPIO` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `CODIGO` INTEGER(11) NOT NULL,
  `NOME` VARCHAR(255) COLLATE utf8_general_ci NOT NULL,
  `UF` CHAR(2) COLLATE utf8_general_ci NOT NULL,
  `IDESTADO` INTEGER(11) DEFAULT NULL,
  PRIMARY KEY USING BTREE (`IDMUNICIPIO`),
  KEY `IDESTADO` USING BTREE (`IDESTADO`),
  CONSTRAINT `IDESTADO` FOREIGN KEY (`IDESTADO`) REFERENCES `ESTADO` (`IDESTADO`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB
AUTO_INCREMENT=5571 ROW_FORMAT=DYNAMIC CHARACTER SET 'utf8' COLLATE 'utf8_general_ci'
;